body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('Assets/photo-page.png');

    /* Center and scale the image nicely */
    /*background-position: top;*/
    background-repeat: no-repeat;
    background-size: cover;
}

#body-menu
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('Assets/jungle-forest2.png');
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
}


#titre
{
    opacity: 90%;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    /*text-shadow: 5px 5px 10px #00FF00;*/
    -webkit-text-stroke: 2px grey;
}

.container
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;


}


#form_auth
{
    padding: 10px;
    display: block;
    /*background-color: orange;*/
    background-color: white;
    opacity: 90%;
    border-radius: 10px;
    width: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*box shadow*/
}

.combo-input-label
{
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /*background-color: yellow;*/
}

.combo-input-label input
{
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.combo-input-label input:focus
{
    background-color: lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*    box shadow aussi ici*/
}

.combo-input-label label
{
    /*border: 1px solid black;*/
    width: 48%;
}

.combo-input-label #label_long
{
    width: 60%;
}

.combo-input-label #cb-show
{
    margin-left: 10px;
}

.combo-input-label label input
{
    margin: 0;
    padding: 0;
    height: auto;
}

.info
{
    display: flex;
    justify-content: center;
}





.div-button
{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}




/*@keyframes gradient-change {*/
/*    0% {*/
/*        background-image: linear-gradient(to bottom right, limegreen, lightgreen);*/
/*    }*/
/*    100% {*/
/*        background-image: linear-gradient(to bottom right, green, limegreen);*/
/*    }*/

/*}*/

/*@keyframes Animation {*/
/*    0%{background-position:10% 0%}*/
/*    100%{background-position:91% 100%}*/
/*}*/

.div-button button
{
    color: grey;
    font-weight: bold;
    /*background-color: lightgreen;*/
    background-image: linear-gradient(130deg, limegreen, lightgreen, white);
    border: 1px solid lightgrey;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    width: 70%;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.div-button button:hover
{
    background-image: linear-gradient(130deg, green, limegreen, lightgreen);
    color: white;
    transform: scale(1.01);
}
/*#sign-in-btn*/
/*{*/
/*    color: grey;*/
/*    font-weight: bold;*/
/*    !*background-color: lightgreen;*!*/
/*    background-image: linear-gradient(130deg, limegreen, lightgreen, white);*/
/*    border: 1px solid lightgrey;*/
/*    border-radius: 5px;*/
/*    transition: 0.3s ease-in-out;*/
/*    width: 70%;*/
/*    height: 50px;*/
/*    margin: 10px;*/
/*    cursor: pointer;*/
/*}*/
/*#sign-in-btn:hover*/
/*{*/
/*    !*background-color: green;*!*/
/*    background-image: linear-gradient(130deg, green, limegreen, lightgreen);*/
/*    color: white;*/
/*    transform: scale(1.01);*/
/*}*/

.div-link
{
    display: flex;
    justify-content: space-around;
}

.div-link a
{
    text-decoration: blueviolet;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.div-link a:hover
{
    transform: scale(1.01);
    text-shadow:1px 1px 10px lightblue, 1px 1px 10px cornflowerblue;
}


/*============================page menu==========================*/
#header_menu
{
    padding: 0;
    margin: 0;
    background-color: #33383b;
    /*height: 150px;*/
    /*opacity: 90%;*/
    display: flex;
    flex-direction: row;
    /*opacity: 70%;*/
    padding: 0px;
}

#div-photo
{
    height: 50px;
    width: 50px;
    border: inherit;
    border-radius: 50px;
    overflow: hidden;
    margin: 15px;
    /*margin: 15px;*/
}

#photo-zoo
{
    height: inherit;
    width: inherit;
    bottom: inherit;
}

#titre_header
{
    font-weight: bold;
    color: white;
}


#btn-admin
{
    visibility: hidden;
}

.menu-btn
{
    width: 100px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: orange;
    transition: 0.3s ease-in-out;
    margin: 15px;
}
.menu-btn:hover
{
    transform: scale(1.01);
    background-color: darkorange;
    color: grey;
}

#disconnect
{
    width: 100px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: red;
    transition: 0.3s ease-in-out;
    margin: 15px;
}
#disconnect:hover
{
    transform: scale(1.01);
    background-color: darkred;
    color: grey;
}