#container
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 1050px;
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkslategrey;
    border: 1px solid white;
}

button
{
    background-color: lightskyblue;
    color: white;
    transition: 0.3s ease-in-out;
    height: 50px;
    width: 90%;
    border-radius: 10px;
    margin: 10px;

}

button:hover
{
    background-color: lightgreen;
    transform: scale(1.01);
}