h1
{
    font-weight: bold;
}

#t1, #t2
{
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    height: 30px;
    width: 10%;
}

.informations
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    border: 1px solid white;
    background-color: darkslategrey;
    color: white;
    width: 15%;
}


#t3, #t4
{
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    width: 10%;
    margin: 10px;
}

button
{
    border: 1px solid white;
    border-radius: 5px;
    width: 75px;
    height: 75px;
    background-color: darkslategrey;
    color: white;
    margin: 30px;
    transition: 0.3s ease-in-out;
}

button:hover
{
    color: black;
    background-color: grey;
    transform: scale(1.01);
}