body
{
    background-color: aquamarine;
    text-align: center;
}

h1
{
    font-size: 20px;
    color: pink;
}

.btn
{
    border: 3px solid black;
    border-radius: 10px;
    background-color: darkslategrey;
    color:white;
    transition: 0.3s ease-in-out;
    width: 150px;
    height: 50px;
    margin: 10px;
    box-shadow: #003057;
    cursor: pointer;
    user-select: none;
}


.btn:hover
{
/*    transform: translate(4px, 4px);*/
    transform: scale(1.01);
    background-color: grey;

}

#div_container
{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 40%;
    height: 200px;
    border: 1px solid black;
    background-color: white;
}

#btn_container
{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 20%;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: white;
}