body
{
    background-color: aquamarine;
    text-align: center;
}


h1
{
    font-size: 36px;
    color: darkviolet;

}

h2
{
    color: darkviolet;
}

header
{

    border-radius: 10px;
    border: 3px solid blue;
    margin: 10px;
    margin-bottom: 20px;
    background-color: hotpink;
    text-align: center;
}

.div_titre
{
    background-color: hotpink;
    border-radius: 10px;
    border: 3px solid blue;
    text-align: center;
    margin: 5px;
}


.section1
{
    margin-left: 50px;
    width: 30%;
    float: left;
    height: 400px;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid blue;
    margin-right: 20px;
    display: block;

}


img
{
    border-radius: 5px;
    border: 3px solid black;
}

.section2
{
    float: left;
    width: 30%;
    height: 400px;
    background-color: green;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid blue;
    margin-right: 20px;
    display: block;
}

.section3
{
    float: left;
    width: 30%;
    height: 400px;
    background-color: chocolate;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid blue;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
}


p
{
    text-align: center;
}


footer
{
    clear:both;
    background-color: cadetblue;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid grey;
}