.BigTitle
{
    color: red;
    font-size: 50px;

}

.center
{
    text-align: center;
}

.fieldsetquestion
{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.marge_cb
{
    margin-right: 20px;
}


#score
{
    font-size: 20px;
}

#effacer
{
    border-radius: 10px;
    height: 50px;
    width: 100px;
    margin-top: 10px;
    transition: color 0.3s ease;
    border:none;
    color: black;
    cursor: pointer;
}
#effacer:hover
{
    background-color: red;
    color: white;
}


#envoyer
{
    border-radius: 10px;
    height: 50px;
    width: 100px;
    margin-top: 10px;
    transition: color 0.3s ease;
    border:none;
    color: black;
    cursor: pointer;
}


#envoyer:hover
{
    background-color: green;
    color: white;
}

#correction
{
    border-radius: 10px;
    height: 50px;
    width: 100px;
    transition: color 0.3s ease;
    border:none;
    color: black;
    cursor: pointer;
}


#correction:hover
{
    background-color: blueviolet;
    color: white;
}