#myheader
{
  height: 150px;
  background-color: aquamarine;
  margin: 0;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
}

#Gros_titre
{
  float: right;
  color: darkgrey;
  font-weight: bold;
  font-size: 32px;
  margin-right: 25px;
  margin-top: 25px;
}

/*#tableau_container*/
/*{*/
/*  border-radius: 10px;*/
/*  border: 1px solid white;*/
/*}*/
#tableau_facture
{
/*  border-radius: 10px;*/
  /*border-top: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
  border: 1px solid black;
  margin: 0;

}

.right_line
{
  border-right: 1px solid black;
}
.table_header
{
  color: white;
  background-color: #3388CC;
}

.color1
{
  background-color: white;
}

.color2
{
  background-color: lightgrey;
}


/*#input_row*/
/*{*/
/*  text-align: center;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*}*/


.input_desc
{
  border: none;
  width: 99%;
}

.input_qte
{
  border: none;
  width: 95%;
}
.input_prx
{
  border: none;
  width: 95%;
}
.input_tt
{
  border: none;
  width: 95%;
}


/*#soustotal_container*/
/*{*/
/*  text-align: center;*/
/*  border: 1px solid black;*/
/*  height: 20px;*/
/*  width: 50px;*/
/*}*/

.value_container
{
  text-align: center;
  border: 1px solid black;
  height: 20px;
  width: 50px;
  margin: 10px;
  border-radius: 5px;

}

#div_value
{
  border-radius: 10px;
  margin: 10px 0;
  background-color: lightcoral;
  border: 1px solid white;
  float: right;
  text-align: right;
}

.small_container
{
  clear: both;
  margin-bottom: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.btn
{
  /*float: right;*/
  height: 50px;
  width: 150px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 15px;
  font-weight: bold;
  color: slateblue;
  background-color: lightgreen;
  transition: 0.3s ease-in-out;

  float: left;
}

.btn:hover
{
  color: white;
  background-color: lightskyblue;
  transform: scale(1.01);
}
