header
{
background-color: cornflowerblue;
  height: 250px;
}

header h1
{
  font-size: 36px;
  color: white;
}

header p
{
  color: white;
  font-size: 16px;
}



p
{
  font-size: 16px;
}


.wscreen
{
  border-radius: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;

  width: 780px;
  height: 1780px;
  border: 5px solid #3388CC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.titre_section
{
  font-weight: bold;
  font-size: 20px;
  color: green;
  text-decoration: underline;
  text-align: center;
}

h2
{
  font-weight: bold;
  font-size: 20px;
}

table.test { border-collapse: collapse; }
table.test td.ligne { border-bottom: 1px solid black; }

.pp
{
  width: 200px;
  height: 200px;
  /*float: right;*/
  position: relative;
  float: right;
  bottom: 50px;
  margin-right: 20px;
  border: 3px outset lightblue;
  border-radius: 100px;

}


.div_contenu
{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /*border: 3px solid darkslategrey;*/
  margin-bottom: 70px;
  border-radius: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}


.info_perso
{
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 160px;
  width: 95%;

}

.intro
{
  height: 100px;
}


.top { top: -100px; }
.right { right: -100px; }

.exp_pro
{
  border-radius: 10px;
  height: 475px;
  clear: both;
}

.comptetence
{
  border-radius: 10px;

}

footer
{
  color: white;
  text-align: center;
  background-color: cornflowerblue;
}
