.div-session
{
    padding: 20px;
    font-weight: bold;
    border: 1px solid black;
    background-color: lightgrey;
    transition: 0.3s ease-in-out;
    margin: 15px;
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 10px;

}


.div-session:hover
{
    background-color: grey;
    transform: scale(1.05);
}